{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Show 3D Result</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "css/demo.css" %}">
    <link rel="icon" href="{% static "images/whelechair_new_ysJ_icon.ico" %}">
    
  </head>
  <body>
    <!--canvas id="debug" style="position:fixed; left:100px"></canvas-->

    <div id="info">Drag to Spin !!  Tap anywhere to stop</div>
    <div id="info2">Use mouse wheel to Zoom in/out</div>
    <!--button id="Stop">Stop</button-->
    <div id="selection">
      <p1 class="words">Show Body Part</p>
      <fieldset>
        <div>
          <input type="checkbox" class="enable" id="head" value="0" checked>
          <label class="words" for="head">Head</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="body" value="1" checked>   
          <label class="words" for="body">Body</label>     
        </div>
        <div>
          <input type="checkbox" class="enable" id="RArm" value="2" checked>   
          <label class="words" for="RArm">R Arm</label>    
        </div>
        <div>
          <input type="checkbox" class="enable" id="RForearm" value="3" checked>
          <label class="words" for="RForearm">R Forearm</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="RHand" value="4" checked>   
          <label class="words" for="RHand">R Hand</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="LArm" value="5" checked>    
          <label class="words" for="LArm">L Arm</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="LForearm" value="6" checked>
          <label class="words" for="LForearm">L Forearm</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="LHand" value="7" checked>   
          <label class="words" for="LHand">L Hand</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="RThigh" value="8" checked> 
          <label class="words" for="RThigh">R Thigh</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="RCalf" value="9" checked>   
          <label class="words" for="RCalf">R Calf</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="RFoot" value="10" checked>   
          <label class="words" for="RFoot">R Foot</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="LThigh" value="11" checked>  
          <label class="words" for="LThigh">L Thigh</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="LCalf" value="12" checked>   
          <label class="words" for="LCalf">L Calf</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="LFoot" value="13" checked>   
          <label class="words" for="LFoot">L Foot</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="wholebody" value="14" checked>   
          <label class="words" for="wholebody">Whole Body</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="nothing" value="15" >   
          <label class="words" for="nothing">Nothing</label>   
        </div>
      </fieldset>
    </div>

    <div id="Rehabilitation">
      <p1 class="words">Rehabilitation</p>
      <fieldset>
        <div>
          <input type="checkbox" id="RightElbow" Class="rehabPos" value="0">
          <label class="words" for="RightElbow">RightElbow</label>   
        </div>
        <div>
          <input type="checkbox" id="NaN" class="rehabPos" value="1">
          <label class="words" for="NaN">NaN</label>   
        </div>
        <div>
          <input type="checkbox" id="NaN1" class="rehabPos" value="2">
          <label class="words" for="NaN1">NaN1</label>   
        </div>
        <div>
          <input type="checkbox" id="NaN2" class="rehabPos" value="3">
          <label class="words" for="NaN2">NaN2</label>   
        </div>

        <button id="playstop"  class="words">Start</button>
      </fieldset>
    </div>

    <div id="Result">
      <p1 class="words">Result</p>
      <fieldset>
        <div>
          <p2 id="Count" class="words">Count: 0</p>
        </div>
        <div>
          <p2 id="Accurate" class="words">Accurate: 0%</p>
        </div>

      </fieldset>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/91/three.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript">
      var data = {{ Data|safe }};
    </script>
  
    <script src="{% static "js/demo.js" %}"></script>
  
  </body>
</html>
