{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Show 3D Result</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static "css/show3D.css" %}">
    
    <link rel="icon" href="{% static "images/whelechair_new_ysJ_icon.ico" %}">
  </head>
  <body>
    <!--canvas id="debug" style="position:fixed; left:100px"></canvas-->

    <div id="info">Drag to Spin !!  Tap anywhere to stop</div>
    <div id="info2">Use mouse wheel to Zoom in/out</div>
    <!--button id="Stop">Stop</button-->
    
    <div id="slideContainer">
      <p id="frameSpeedTitle" class="words slideTitle">Frame Speed: <span id="frameSpeedValue"></span> ms </p>
      <input type="range" min="10" max="500" value="200" class="slider" id="frameSpeed">
      <p id="cameraDisTitle" class="words slideTitle">Zoom in/out: <span id="cameraDisValue"></span> % </p>
      <input type="range" min="1" max="150" value="60" class="slider" id="cameraDis">
    </div>
    <div id="selection">
      <p1 class="words">Show Body Part</p>
      <fieldset>
        <div>
          <input type="checkbox" class="enable" id="head" value="0" checked>
          <label class="words" for="head">Head</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="body" value="1" checked>   
          <label class="words" for="body">Body</label>     
        </div>
        <div>
          <input type="checkbox" class="enable" id="RArm" value="2" checked>   
          <label class="words" for="RArm">R Arm</label>    
        </div>
        <div>
          <input type="checkbox" class="enable" id="RForearm" value="3" checked>
          <label class="words" for="RForearm">R Forearm</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="RHand" value="4" checked>   
          <label class="words" for="RHand">R Hand</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="LArm" value="5" checked>    
          <label class="words" for="LArm">L Arm</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="LForearm" value="6" checked>
          <label class="words" for="LForearm">L Forearm</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="LHand" value="7" checked>   
          <label class="words" for="LHand">L Hand</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="RThigh" value="8" checked> 
          <label class="words" for="RThigh">R Thigh</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="RCalf" value="9" checked>   
          <label class="words" for="RCalf">R Calf</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="RFoot" value="10" checked>   
          <label class="words" for="RFoot">R Foot</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="LThigh" value="11" checked>  
          <label class="words" for="LThigh">L Thigh</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="LCalf" value="12" checked>   
          <label class="words" for="LCalf">L Calf</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="LFoot" value="13" checked>   
          <label class="words" for="LFoot">L Foot</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="wholebody" value="14" checked>   
          <label class="words" for="wholebody">Whole Body</label>   
        </div>
        <div>
          <input type="checkbox" class="enable" id="nothing" value="15" >   
          <label class="words" for="nothing">Nothing</label>   
        </div>
      </fieldset>
    </div>

    <div id="Rehabilitation">
      <p1 class="words">Rehabilitation</p>
      <fieldset id="chooseRehab">
        <div>
          <select name="rehabList" class="words" id="rehabList" onchange="calRehab(this.value);">
            <option value="-1" id="Deselect" Class="rehabPos words1" selected>Deselect</option>
            <option value="0" id="RightElbow" Class="rehabPos words1">RightElbow</option>
            <option value="1" id="NaN" Class="rehabPos words1">NaN</option>
            <option value="2" id="NaN1" Class="rehabPos words1">NaN1</option>
            <option value="3" id="NaN2" Class="rehabPos words1">NaN2</option>
          </select>
        </div>
      </fieldset>
    </div>

    <div id="Data">
      <p1 class="words">Data</p>
      <fieldset id="chooseData">
        <div>
          <select name="dataList" class="words" id="dataList" onchange="getChooseData(this.value);">
          </select>
        </div>
      </fieldset>
    </div>

    <div id="Result">
      <p1 class="words">Result</p>
      <fieldset>
        <div>
          <p2 id="Count" class="words">Count: 0</p>
        </div>
        <div>
          <p2 id="Accurate" class="words">Accurate: 0%</p>
        </div>

      </fieldset>
    </div>

    <button id="playstop" class="words">Start</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/91/three.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript">
      var data = {{ Data|safe }};
      var data_list = {{ DataList|safe }};
    </script>
  
    <!--script src="{% static "js/Projector.js" %}"></script>
    <script src="{% static "js/stats.min.js" %}"></script-->
    <script src="{% static "js/show3D.js" %}"></script>
  
  </body>
</html>
