<html lang="en">
<head>
  <title>Django File Upload</title>
  <style>
    h1 {
      font-size: 2em;
      font-weight: bold;
      color: #777777;
      text-align: center
    }
    table {
      margin: auto;
    }
  </style>
</head>
 
<body>
  <h1>
      {{what}}
  </h1>
  <table>
    <tr>
      <td>
        <form action="http://140.116.215.49:8080/upload_handler/" method="POST" enctype="multipart/form-data" target="_blank">
          <input type="file" name="file"/>
          <br/>
          <!--
          <input type="submit" name="Upload"/>
          -->
        </form>
      </td>
    </tr>
  </table>
 
</body>
 
</html>
