body {
  font-family: Monospace;
  background-color: #ffffff;
  margin: 0px;
  max-width: window.innerWidth;
  //max-height: window.innerHeight;
  overflow: hidden;
}
#info {
  position: absolute;
  color: #ffffff;
  top: 4vh;
  width: 100%;
  padding: 0px;
  text-align:center;
}
#info2 {
  position: absolute;
  color: #ffffff;
  top: 7vh;
  width: 100%;
  padding: 0px;
  text-align:center;
}
#Result {
  position: absolute;
  top: 50vh;
  left: 10vw;
  color: #FFFFFF;
}
#Rehabilitation {
  position: absolute;
  top: 10vh;
  left: 10vw;
  color: #FFFFFF;
}
#playstop {
  position: relative;
  left: 5vw;
  top: 0.5vh;
}
#selection {
  position: absolute;
  top: 10vh;
  right: 10vw;
  color: #FFFFFF;
}
input[type="checkbox"] {
  width: 3.5vh;
  height: 3.5vh;
}
.enable {
  height: 4vh;
}
.words {
  font-size: 4vh;
}