body {
  font-family: Monospace;
  background-color: #ffffff;
  margin: 0px;
  max-width: window.innerWidth;
  //max-height: window.innerHeight;
  overflow: hidden;
}
#info {
  position: absolute;
  color: #ffffff;
  top: 4vh;
  width: 100%;
  padding: 0px;
  text-align:center;
}
#info2 {
  position: absolute;
  color: #ffffff;
  top: 7vh;
  width: 100%;
  padding: 0px;
  text-align:center;
}



/*slider*/
#slideContainer {
  position: absolute;
  top: 5vh;
  left: 10vw;
  width: 20vw;
  height: 10vh;
  color: #FFFFFF;
}

#cameraDisTitle {
  position: relative;
  top: -3vh;
}

#cameraDis {
  position: relative;
  top: -5vh;
}
.slider {
  -webkit-appearance: none;
  position: relative;
  top: -2vh;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  z-index: 10;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;                                  
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
                                      



#Rehabilitation {
  position: absolute;
  top: 28vh;
  left: 10vw;
  color: #FFFFFF;
}

#Data {
  position: absolute;
  top: 42vh;
  left: 10vw;
  color: #FFFFFF;
}

#playstop {
  position: absolute;
  left: 15vw;
  top: 57vh;
}
#getdata {
  position: relative;
  left: 6vw;
  top: 1vh;
}
#Result {
  position: absolute;
  top: 65vh;
  left: 10vw;
  color: #FFFFFF;
}
#selection {
  position: absolute;
  top: 10vh;
  right: 10vw;
  color: #FFFFFF;
}
input[type="checkbox"] {
  width: 3.5vh;
  height: 3.5vh;
}
.enable {
  height: 3vh;
}
.words {
  font-size: 3vh;
}
.words1 {
  font-size: 2vh;
}
#rehabList, #dataList {
  position: relative;
  width: 100%;
  text-align-last: center;
}
#chooseRehab, #chooseData {
  position: relative;
  top: -2vh;
}

